/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* layout */
.container {
    max-width: 1100px;
    margin: 0px auto;
    
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.item-flex {
    width: calc(100%/3);
    padding: 20px 10px;
}

img {
    width: 100%;
}

.photo {
    position: relative;
}

.heart {
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 20px;
    background-color: white;
    height: 40px;
    width: 40px;
padding: 9px 14px;
}

